/* 
    Document   : Main
    Created on : 2011-jul-31, 18:01:18
    Author     : Bohman
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

canvas#gameCanvas {
    width: 800px;
    height: 600px;
    border: black dotted 1px;
}

